;; -*- mode: scheme; -*-
;; This is an operating system configuration for a VM image.
;; Modify it as you see fit and instantiate the changes by running:
;;
;;   guix system reconfigure /etc/config.scm
;;

(use-modules (gnu) (guix) (srfi srfi-1))
(use-service-modules desktop mcron networking spice ssh xorg sddm)
(use-package-modules bootloaders certs fonts nvi
                     file-systems linux
                     systemd
                     package-management wget xorg)

(operating-system
  (host-name "gnu")
  (timezone "Etc/UTC")
  (locale "en_US.utf8")

  ;; Label for the GRUB boot menu.

  (firmware '())
  (kernel-arguments
   (append '(;; "systemd.log_level=debug"
             ;; "systemd.log_target=console"
             ;; "systemd.unit=rescue.target"
             ;; "systemd.unit=emergency.target"
             "systemd.debug-shell=1"
             ;; "console=ttyS0,38400 console=tty1"
             )
           %default-kernel-arguments))
  ;; Below we assume /dev/vda is the VM's hard disk.
  ;; Adjust as needed.
  (bootloader (bootloader-configuration
               (bootloader grub-bootloader)
               (targets '("/dev/vda"))
               (terminal-outputs '(console))))
  (file-systems (cons (file-system
                        (mount-point "/")
                        (device "/dev/vda1")
                        (type "ext4"))
                      %base-file-systems))

  (packages (cons autofs
                  %base-packages))
  (users (cons (user-account
                (name "guest")
                (comment "GNU Guix Live")
                (password "")                     ;no password
                (group "users")
                (supplementary-groups '("wheel" "netdev"
                                        "audio" "video")))
               %base-user-accounts))

  ;; Our /etc/sudoers file.  Since 'guest' initially has an empty password,
  ;; allow for password-less sudo.
  (sudoers-file (plain-file "sudoers" "\
root ALL=(ALL) ALL
%wheel ALL=NOPASSWD: ALL\n"))

  (essential-services (systemd-default-essential-services this-operating-system))
  (services
   (append (list

            ;; Choose SLiM, which is lighter than the default GDM.


            ;; Uncomment the line below to add an SSH server.
            ;;(service openssh-service-type)

            ;; Add support for the SPICE protocol, which enables dynamic
            ;; resizing of the guest screen resolution, clipboard
            ;; integration with the host, etc.
            )

           ;; Remove some services that don't make sense in a VM.
           (modify-services (remove (lambda (service)
                                      (let ((type (service-kind service)))
                                        (or (memq type
                                                  (list elogind-service-type
                                                        gdm-service-type
                                                        ;; sddm-service-type
                                                        ;; login-service-type
                                                        wpa-supplicant-service-type
                                                        cups-pk-helper-service-type
                                                        network-manager-service-type
                                                        modem-manager-service-type))
                                            (eq? 'network-manager-applet
                                                 (service-type-name type)))))
                                    %base-services
                                    )
             (udev-service-type config =>
                                (udev-configuration (inherit config)
                                                    (udev systemd))))))

  ;; Allow resolution of '.local' host names with mDNS.
  (name-service-switch %mdns-host-lookup-nss))
